.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.twig {
    width: 30vw;
    height: 80vh;
    float: right;
}

.login-box-container {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-top: 2vh;
    margin-bottom: 10vh;
    align-items: center;
    justify-content: center;
}

.registerText{
    margin-top: 0;
    padding-top: 0;
    width: auto;
    text-align: center;
}

.login-box h4{
}

.registerText h5{
    display: inline-block;
    color: var(--green);
    background-color: #FFFFFF;
    text-decoration: underline;
}

.registerText a{
    background-color: #FFFFFF;
}

.register-button {
    background-color: var(--lightblue);
    border-color: var(--lightblue);
    margin: 1rem;
}

.register-button:hover {
    cursor: pointer;
    border-color: var(--blue);
    background-color: var(--blue);
}

.register-heading {
    margin: 1rem;
    margin-bottom: 0.25rem;
}

.button-loading{
    background-color: #D3D3D3;
    cursor: wait !important;
    color: #808080;
}

.button-loading:hover{
    background-color: #D3D3D3;
    color: #808080;
}

.button-notloading{
    background-color: var(--lightgreen);
}

.button-loading i{
    display: compact;
    margin-right: 1vh;
}

.button-notloading i {
    display: none;
}

.logo{
    margin-top: 22vh;
    width: auto;
    height: 7vh;
    margin-left: -2.5vw;
    margin-bottom: 2vh;
}

.loginForm{
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm button{
    width: 15vw;
    margin-top: 4vh;
}

.loginForm input{
    margin-top: 2vh;
    width: 30vw;
    text-align: left;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

.loginForm label{
    margin-top: 2vh;
    margin-bottom: -10px;

}