
h1{
  padding: 5%;
  font-size: 5vh;
}
input{
    width: 70vh;
}
.center_container{
    display:flex;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.form_field{
    display: grid;
    grid-template-columns:2;
    column-gap: 0.5vh;
    row-gap:4vh;
}
.text_input{
    text-align: center;
}

.phone_number,
.representative_name,
.name{
    
    grid-column-start: 1;
    grid-column-end: 1;
    
}

.password,
.postal-code,
.representative_surname,
.email{
    
    grid-column-start: 2;
    grid-column-end: 2;

}

.description{
    width: 50%;
    height: 30%;
}
textarea {
    position: relative;
    top: 100%;
    border-radius: 2vh;
    width: 80vh;
    height: 40vh;
    padding: 2vh;
    font-size: 1rem;
    margin-top: 2px;
    background-color: var(--lightgrey);
}

