.register-button{
    background-color: #009900;
    color: #FFFFFF;
}

.register-button:hover{
    background-color: #85cf78;
    color: var(--lightgrey);
}

.registerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.registerPage{
    background-color: var(--lightgrey);
    height: 92vh;
    width: 100%;
    text-align: center;
}

.registerPage h1{
    font-size: 3.5vh;
    padding: 2vh 0 0 0 !important;
    margin: 0 !important;
}

.registerPage img{
    padding-top: 10vh;
    padding-bottom: 5vh;
    height: 10vh;
    width: auto;
    margin-right: 20px;
}

.registerPage h5{
    background-color: var(--lightgrey);
}

.registerPage a{
    background-color: var(--lightgrey);
}